
input {
    elasticsearch {
                    hosts => "localhost:9200"
                    index => "test1" 
                    docinfo => true
                   }
      }



filter {
          grok {
          
            match => {     "email" => "%{DATA:account}@"   }
            
            add_field => { "username" => "%{account}"      }
 
                }
        }


output {
    elasticsearch { 
        hosts => ["localhost:9200"] 
        index => "test2"
        document_type => "%{[@metadata][_type]}"
        document_id => "%{[@metadata][_id]}"

            }

      stdout{
		codec => rubydebug
	        }

        }
