input {
  file {
    path => "/Users/lucas/Downloads/log.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}
filter {
  csv {
      separator => ","
      columns => [  "date","time","client_ip","server_ip", "agent",  "sender" , "subject" , "receiver"]
  }

  mutate {
  add_field => {
                "@@mailTime" => "%{date} %{time}"
                }
  }

  date {
    match => ["@@mailTime" , "yyyy/M/d HH:mm:ss"]
    target => "mailTime"
    timezone => "GMT"
  }


  mutate {
    remove_field => [ "@@mailTime", "date", "time", "message", "@version", "@timestamp", "path", "host", "@@UPDATETIME", "@@REPORTTIME"]
  }
}

output {
   elasticsearch {
     hosts => "127.0.0.1:9200"
     index => "lucas"
     document_type => "mail"
  }
  stdout { codec => rubydebug }
}
