input{
	elasticsearch{
		hosts => "http://localhost:9200/"
		index => "index1"
		docinfo => true
		query => '{
		  "query": {
		    "bool": {
		      "must": [
		         
		        {
		          "range": {
		            "id_time": {
		              "gte": "2015-12-01T00:00:00.000Z",
		              "lt": "2016-02-04T00:00:00.000Z"
		            }
		          }
		        }
		      ]
		    }
		  }
		}'

	}

}
output{
	elasticsearch{
		hosts => "http://192.168.1.100:9200/"
		index => "index2"
		document_type => "%{[@metadata][_type]}"
	}
	stdout{
		codec => rubydebug
	}
}

